html {
	margin=0;
	width=100%;
	height=100%;
}
@font-face
{
font-family: space2;
src: url(Space2.ttf);
}
/*#page1
{ 
  background-image: url(back.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#page1
{


position:fixed;
top:0;
left: 0;
width: 100%;
height: 200%;

}

#page img {
	position: relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width: 50%;
	min-height: 50%;


}
#homenavbar
{
	height: 80px;
	width:100%;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	background-color: #3399ff
}

#homenavbar a
{
	float:right;
}

#homenavbar h2
{
	position: fixed;
	left:10px;
}
	
#navbar
{	height: 80px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color:  #3399ff;
	position: fixed;
	z-index: 11;
	
}

#navbar h2
{	left:10px;
}

#hoc
{
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: space2;
	font-size: 24pt;
	color: white;
	
}
#login
{
	position: relative;
	top: 0px;
	float: right;
}
a:link,a:visited
{
display:block;
font-weight:bold;
color:#ffffff;
background-color:rgba(0,0,0,0);
width:150px;
height: 80px;
text-align:center;
/*padding:4px;*/
text-decoration:none;
font-style: Helvetica, sans-serif;
font-size: 18pt;

}
a:hover,a:active
{
-webkit-transition: background-color 300ms ease-out;
-moz-transition: background-color 300ms ease-out;
-ms-transition: background-color 300ms ease-out;
-o-transition: background-color 300ms ease-out;
transition: background-color 300ms ease-out;

background-color:#33cc00;

}

#cf4a
{
	top: 160px;
	left: 50px;
	background-color: rgba(256,256,256,0.5);
	border-radius: 0;
	float: right;
}
@-webkit-keyframes cf4FadeInOut {
   0% {opacity:1;}
   19% {opacity:1;}
   25% {opacity:0;}
   94% {opacity:0;}
   100% {opacity:1;}
}

@-moz-keyframes cf4FadeInOut {
   0% {opacity:1;}
   19% {opacity:1;}
   25% {opacity:0;}
   94% {opacity:0;}
   100% {opacity:1;}
}

@-o-keyframes cf4FadeInOut {
   0% {opacity:1;}
   19% {opacity:1;}
   25% {opacity:0;}
   94% {opacity:0;}
   100% {opacity:1;}
}

@keyframes cf4FadeInOut {
   0% {opacity:1;}
   19% {opacity:1;}
   25% {opacity:0;}
   94% {opacity:0;}
   100% {opacity:1;}
}

#cf4a {
   position:relative;
   height:460px;
   width:900px;
   /*margin:30px auto;*/
}

.img
{
position: absolute;
left: 95px;
top: 50px;
}


/*#cf4a img {
   position:absolute;
   left:0;
}*/

#cf4a img {
   -webkit-animation-name: cf4FadeInOut;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 32s;

   -moz-animation-name: cf4FadeInOut;
   -moz-animation-timing-function: ease-in-out;
   -moz-animation-iteration-count: infinite;
   -moz-animation-duration: 32s;

   -o-animation-name: cf4FadeInOut;
   -o-animation-timing-function: ease-in-out;
   -o-animation-iteration-count: infinite;
   -o-animation-duration: 32s;

   animation-name: cf4FadeInOut;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 32s;
}

#cf4a img:nth-of-type(1) {
   -webkit-animation-delay: 0s;
   -moz-animation-delay: 0s;
   -o-animation-delay: 0s;
   animation-delay: 0s;
    
    z-index:5;
}

#cf4a img:nth-of-type(2) {
   -webkit-animation-delay: 4s;
   -moz-animation-delay: 4s;
   -o-animation-delay: 4s;
   animation-delay: 4s;
    
    z-index:4;
}

#cf4a img:nth-of-type(3) {
   -webkit-animation-delay: 8s;
   -moz-animation-delay: 8s;
   -o-animation-delay: 8s;
   animation-delay: 8s;
    
    z-index:3;
}

#cf4a img:nth-of-type(4) {
   -webkit-animation-delay: 16s;
   -moz-animation-delay: 16s;
   -o-animation-delay: 16s;
   animation-delay: 16s;
    
    z-index:2;
}
#cf4a img:nth-of-type(5) {
   -webkit-animation-delay: 32s;
   -moz-animation-delay: 32s;
   -o-animation-delay: 32s;
   animation-delay: 32s;
    
    z-index:1;

}
/*#page2
{	height: 900px;
	width: 100%;
	position: absolute;
	top: 665px;
	left: 0px;
	background-image: url('paper.jpg');
	background-attachment: fixed;
}*/
/*#paperimg
{	position: relative;
	top: 800px;
	left: 100%;
	background-image: url(back.jpg);
}*/

