<!doctype html>

<html>
<head>
<title>Heroes Of Change</title>
<link rel="stylesheet" href="/home/static/css/indexstyle.css">

</head>
<body>

<div id="page1">
	<!--<img id="bacground" src="/home/static/css/back.jpg" height="1000" width="2000">-->
	<div id="navbar">
		<h2 id="hoc">Heroes Of Change</h2>
		<a id="login" href="/home/user_home"><br>Login
		</a>
	</div>
	
</div>
<div id="cf4a" class="shadow">
		<img class="img" src="/home/static/css/back2.jpg" width="700" height="350">
		<img class="img" src="/home/static/css/back3.jpg" width="700" height="350">
		<img class="img" src="/home/static/css/back4.jpg" width="700" height="350">
		<img class="img" src="/home/static/css/back5.png" width="700" height="350">
		<img class="img" src="/home/static/css/back7.jpg" width="700" height="350">

	</div>
<div id="page2">
	<div id="paperimg">
		
	</div>
</div>
</body>
</html>
