<!doctype html>

<html>
<head>
<title>Heroes Of Change</title>
<link rel="stylesheet" href="/home/static/css/indexstyle.css">
</head>
<body>
<div id="page1">
	<div id="navbar">
		<h2 id="hoc">Heroes Of Change</h2>
		<a id="login" href="#"><br>&nbsp&nbsp&nbsp&nbspLogin
		</a>
	</div>
	<div id="cf4a" class="shadow">
		<img class="img" src="/home/static/css/back2.jpg" width="800" height="400">
		<img class="img" src="/home/static/css/back3.jpg" width="800" height="400">
		<img class="img" src="/home/static/css/back4.jpg" width="800" height="400">
		<img class="img" src="/home/static/css/back5.png" width="800" height="400">
		<img class="img" src="/home/static/css/back7.jpg" width="800" height="400">

	</div>
</div>
</body>
</html>
