<!doctype html>

<html>
<head>
<title>Heroes Of Change</title>
<link rel="stylesheet" href="/home/static/css/indexstyle.css">

</head>
<body>

<div id="page1">
	<img  src="/home/static/css/back.jpg" alt="">
	
	
</div>
<div id="navbar">
		<h2 id="hoc">Heroes Of Change</h2>
		<a id="login" href="/home/user_home"><br>Login
		</a>
	</div>
<div id="cf4a" class="shadow">
		<img class="img" src="/home/static/css/im1.jpg" width="700" height="350">
		<img class="img" src="/home/static/css/im2jpg" width="700" height="350">
		<img class="img" src="/home/static/css/im3.jpeg" width="700" height="350">
		<img class="img" src="/home/static/css/im4.jpeg" width="700" height="350">
		<img class="img" src="/home/static/css/page1img1.jpg" width="700" height="350">

	</div>
<div id="page2">
	<div id="cf3" class="shadow">
		<h2 id="comment">"I can't wait to see the school we funded & meet the kids that <br> will get to attend this school!"</h2>
		<img class="img1" src="/home/static/css/sahil.jpg" width="150" height="150">
		<img class="img1" src="/home/static/css/karan.jpg" width="150" height="150">

	</div>
	<div id="fourth">
<div id="container">

<div id="contactme">
<h5 id="contactme1">
C O N T A C T
</h5>
</div>

<div id="touch">
<h5 id="touch">
Get In Touch
</h5>
</div>
<div id="mad">
<h5 id="mad">
mad.scientist@gmail.com
</h5>
</div>
<div id="masthead">
<h5 id="masttext"> 2013 KARAN GROVER & SAHIL SHEKHAWAT
</h5>
</div>
<div id="contacticon">
<a id="facebook" href="https://www.facebook.com/karan.grover.5895">
<img id="f"  src="/home/static/css/facebook-64.png">
</a>
<a id="google" href="https://plus.google.com/u/1/+karangrover09/about/op/svuwn">
<img id="f"  src="/home/static/css/google_plus-64.png">
</a>
<a id="linkedin" href="http://www.linkedin.com/pub/karan-grover/4b/558/683">
<img id="f"  src="/home/static/css/linkedin-64.png">
</a>
<a id="instagram" href="http://instagram.com/krngrvr09">
<img id="f"  src="/home/static/css/instagram-64.png">
</a>
<a id="twitter" href="https://twitter.com/krngrvr09">
<img id="f" src="/home/static/css/twitter-64.png">
</a>

</div>
</div>

</div>
</div>
</div>
</body>
</html>
