<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<script type="text/javascript" src="http://rizcvzx9p1.embed.talkiforum.com/embed/1.js"></script>
<div style="font-size:80%; text-align:center;" id="rizcvzx9p1t4lk1prm0">get your own <a href="http://talkiforum.com?utm_source=install&utm_medium=link&utm_campaign=get_your_own">embeddable forum</a> with Talki</div>
</head>
<body>
<div id="info">
sdfsdfsf
</div>
<iframe id="forum_embed"
 src="javascript:void(0)"
 scrolling="no"
 frameborder="0"
 width="900"
 height="700">
</iframe>
</body>
</html>

